{% extends 'layouts/base.html' %}
{% block titulo%}Registro Partida - {{partida.data}} {% endblock%}

{% block cabecalho %}Registro{% endblock %}

{% block content %}



<div class="text-center">
    <h3 class="text-white">{{partida.racha}}</h3>
    <h4 class="text-white">Registro do dia: {{partida.data}} </h4>
</div>


<div class="ml-2 mr-2">

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-body">
                    <ul class="timeline">
                        {% for registro in registros %}
                        {% if registro.assistencia %}
                        <li class="timeline-inverted">
                            {% else %}
                        <li>
                            {% endif %}
                            <div class="timeline-badge success">
                                <i class="fas fa-futbol"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="badge badge-pill badge-danger">{{registro.tempo}}</span>
                                </div>
                                <div class="timeline-body">
                                    <div class="row">
                                        <div class="col-md-1 ">
                                            <div class="avatar avatar-sm rounded-circle mt-3">
                                                <img src="{{registro.gol.get_foto}}"
                                                     style="width:50px; border-radius:50%;object-fit: cover;">
                                            </div>

                                        </div>
                                        <div class="col-md-11">
                                            <h5><b>{{registro.gol}}</b></h5>
                                            <p>Goooooooooooooool. </p>
                                            {% if registro.assistencia %}
                                            <p>Assistencia de {{registro.assistencia}}</p>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                                <h6>
                                    <!--                                    <i class="ti-time"></i> {{registro.tempo}}-->
                                </h6>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}