{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">

  <title>
    Django Argon Dashboard - {% block title %} Open-Source Admin Panel {% endblock %} | AppSeed
  </title>

  <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'css/argon.css' %}" type="text/css">

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="bg-primary">

  <div class="main-content">

    <!-- Header -->

    
    {% block content %}{% endblock content %}

<!--    {% include "includes/footer-fullscreen.html" %}-->

  </div>
    
  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}
  
  <script src="{% static 'js/argon.js' %}"></script>

</body>

</html>
